.video p{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    max-height: 80%;
    max-width: 80%;
    -webkit-transform: translate(-40%, -40%);
    -moz-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    -o-transform: translate(-40%, -40%);
}

.video {
    height: 100%;
}

section {
    margin: 0px !important;
    padding: 0px !important;
}

img {
    max-height: 500px;
}

/* media queries */

@media (max-width: 1600px) {
    .video p {
        font-size: 3em;
    }
}

@media (max-width: 1200px) {
    .video p {
        font-size: 2em;
    }
}

@media (max-width: 991px) {
    .video p {
        font-size: 1.5em;
    }
}

@media (max-width: 767px) {
    .video p {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .video p {
        font-size: 0.8em;
    }
}

@media (max-width: 320px) {
    .video p {
        font-size: 0.5em;
    }
}



